#contents {
	>#board {
		display: flex;
		justify-content: center;

		>.suit {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;

			>button {
				font-size: 5vh;
			}
		}
	}

	>#hand {
		display: inline-flex;
		width: 100%;
		overflow-x: auto;

		>button {
			font-size: 10vh;
		}
	}
}