#main {
	min-height: 100%;
	min-width: 100%;
	display: flex;
	align-items: stretch;
	align-content: stretch;

	>#sidebar {
		display: inline-flex;
		flex-direction: column;
		width: 350px;
		height: 100vh;
		background-color: #ddd;
		flex-shrink: 0;

		.header {
			font-size: 150%;
			font-weight: bold;
			padding-left: .5em;
		}

		>* {
			overflow-y: auto;

			>* {
				padding-left: .8em;
				padding-top: .3em;
				padding-bottom: .3em;
				border-bottom: 1px solid #ccc;

				&:last-child {
					border-bottom: none;
				}
			}

			&:not(:empty) {
				border-bottom: 1px solid #bbb;
				padding-top: .5em;
				padding-bottom: .5em;

				&::before {
					.header()
				}
			}
		}

		>#status:not(:empty) {
			flex-shrink: 0;
			&::before {
				content: "Status";
			}
		}
		>#public-messages:not(:empty) {
			flex-grow: 1;
			&::before {
				content: "Public messages";
			}
		}
		>#private-messages:not(:empty) {
			flex-grow: 1;
			&::before {
				content: "Private messages";
			}
		}
		>#players:not(:empty){
			flex-shrink: 0;
			&::before {
				content: "Players";
			}
		}
		>#observers:not(:empty) {
			flex-grow: 1;
			&::before {
				content: "Observers";
			}
		}
	}

	>#contents {
		height: 100vh;
		overflow-y: auto;
		flex-grow: 1;
		background-color: #eee;
	}
}

@keyframes awaiting_updated {
	0% {
		background: #aaf;
		top: 50%;
		right: 50%;
		transform: translate(50%,-50%);
		border-radius: 1em;
	}
	100% {
		background: rgba(200, 200, 200, 0.8);
		top: 0;
		right: 0;
		border-radius: 0 0 0 1em;
	}
}

#awaiting {
	display: none;
	pointer-events: none;
	padding: 1em;

	&.awaiting {
		display: block;
		position: fixed;
		animation: awaiting_updated 2s;
		background: rgba(200, 200, 200, 0.8);
		top: 0;
		right: 0;
		border-radius: 0 0 0 1em;
	}
}