body {
	display: flex;
	align-items: stretch;
	align-content: stretch;

	>#sidebar {
		display: inline-flex;
		flex-direction: column;
		width: 350px;
		background-color: #ddd;
	}

	>#contents {
		flex-grow: 1;
		background-color: #eee;
	}
}