body {
	display: flex;
	justify-content: center;

	form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		max-width: 340px;
		min-width: 300px;

		>button {
			flex-grow: 1;
		}
	}
}