* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
}

@keyframes error {
	0% {
		background: red
	}
	100% {
		background: none;
	}
}

.error {
	animation: error 1s;
}