j-popup {
	z-index: 1;
	box-shadow: 0 0 1em black;
	border-radius: 7px;
	pointer-events: auto;

	>div.titleBar {
		background-color: #fdd;
		font-size: 110%;
		text-align: center;
		padding: .5em;
		border: 1px solid #daa;
		border-radius: 5px 5px 0 0;
	}
	>div.message {
		background-color: #ddd;
		padding: .5em;
		border: 1px solid #aaa;
		border-top-width: 0;
		border-radius: 0 0 5px 5px;
	}
}

